arrow==0.10.0
certifi==2017.4.17
chardet==3.0.4
click==6.7
clock==0.1
codecov==2.0.9
coverage==4.4.1
idna==2.5
py==1.4.34
python-dateutil==2.6.0
pytz==2017.2
PyYAML==3.12
requests==2.18.1
six==1.10.0
tzlocal==1.4
urllib3==1.21.1
